<%- include('./partials/header') %>


<div class="mt-5 container">
  <h1 lead >Sign in to to make the postman happy</h1>
  <h3 lead> Place an order, view the order details, and edit your orders. Will your order get delivered? Maybe. Our delivery guys  are on strike. Something about unpaid wages. </h3>
  <img src="https://thumbs.dreamstime.com/b/crying-loudly-postman-cartoon-courier-guy-vector-illustration-crying-loudly-postman-cartoon-courier-guy-vector-illustration-148852669.jpg" class="img-fluid" alt="Responsive image">
  
</div>

  <%- include('./partials/footer') %>