<%- include('../partials/header') %>


 
 <!---
The problem is the original index page is not getting the foundUser so you need ot consistentkly name it user or the page owont initially
render
inside the user.js controller
then ur coolin-->
<div class="container-fluid mt-5 mb-5"></div>
        <div class="row">
            <div class="col-8">
               
<%# found.orders.forEach(element => { %>
    
               <% if (found) { %>
                <%= found %> 
               <% } %>
                
                    <div class="card card-header" >
                        <div class="card-body card-header">
                            
                          <h5 class="card-title"></h5>
                          <p class="card-text"><%#= element %> </p>
                        
                          
                          <a href="#" class="card-link">Update Order</a>
                          <a href="#" class="card-link">Delete Order</a>
                          <a href="#" class="card-link">Order Details</a>
                        </div>
                      </div>
                <%# }) %>
                

                </div>

               
                    <div class="col-4">
                </div>
     </div>
     </div>
                
   

        
         